name: ci
on: [push, pull_request, workflow_dispatch]

jobs:
  build_and_test:
    name: Build + test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghidra:
          - "12.0.3"
          - "12.0.2"
          - "12.0.1"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
      - name: Install Ghidra ${{ matrix.ghidra }}
        uses: antoniovazquezblanco/setup-ghidra@v2.0.3
        with:
          auth_token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ matrix.ghidra }}
      - name: Build
        run: ./gradlew test buildExtension -PGHIDRA_INSTALL_DIR=${{ env.GHIDRA_INSTALL_DIR }}
      - uses: actions/upload-artifact@v4
        with:
          name: GhidraTek2465_Ghidra_${{ matrix.ghidra }}
          path: dist/*_GhidraTek2465.zip
          if-no-files-found: 'error'
  release:
    if: github.ref_type == 'tag'
    name: Create draft release
    runs-on: ubuntu-latest
    needs: build_and_test
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          pattern: GhidraTek2465_Ghidra_*
      - name: Create release and upload distribution
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload "${{ github.ref_name }}" GhidraTek2465_Ghidra_*/*_GhidraTek2465.zip
